$brand-color:#FFD366;
$click-color:#e0b447;
$btn-color:#424242;
$input-focus:yellow;
$content-background:#DDDADC;
$button-background:#eee;
$button-hover:#888;
$color-hover:#fff;

//border color

$health:#86D73F;
$light:#31BAF9;
$overWeight:#FF982D;
$obese:#FF6C03;
$overObese:#FF1200;